[package]
name = "code_maven"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.3", features = ["derive"] }
liquid = "0.26"
liquid-core = "0.26"
simple_logger = "4.2"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
markdown = { git = "https://github.com/wooorm/markdown-rs.git" }
regex = "1.9"
chrono = "0.4"
image = "0.24"
imageproc = "0.23"
rusttype = "0.9"
sendgrid = "0.19"

[[bin]]
name = "code-maven-web"
path = "src/main.rs"

[[bin]]
name = "code-maven-sendgrid"
path = "src/cm-sendgrid.rs"
