    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-home">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-home" class="navbar-menu">
        <div class="navbar-start">
          {% for entry in config.navbar.start -%}
          <a href="{{entry.path}}" class="navbar-item">{{entry.title}}</a>
          {% endfor %}
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            {% for entry in config.navbar.end -%}
            <a href="{{entry.path}}" class="navbar-item">{{entry.title}}</a>
            {% endfor %}  
          </div>
        </div>
      </div>
    </nav>
