{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      {% for tag in page.tags %}
      <a class="button is-primary" href="/tags/{{tag | topath}}">{{tag}}</a>
      {% endfor %}
      <div class="content">
        {{content}}
      </div>

      {%- if config.show_related and page.backlinks.size > 0 %}
        <h3 class="title is-4">{{ config.related_pages_title }}</h3>
        {% for backlink in page.backlinks %}
          <div><a href="/{{backlink.from_path}}">{{backlink.from_title}}</a></div>
        {% endfor %}
      {% endif -%}

      {% if page.author != "" %}
        <h3 class="title is-4">Author</h3>
        {{ author.name }} ({{ author.nickname }})
        {{ author.text }}
        <img alt="{{ author.name }}" src="/images/{{author.picture}}">
      {% endif %}
    </div>   
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      {{footer}}
    </div>
  </footer>  
{% include 'templates/incl/footer.html' %}
